<!DOCTYPE html>
<html>
    <head>
        <style>
            body {  font-family: Arial, Verdana; /* Сімейство шрифтів */
  font-size: 11pt; /* Розмір основного шрифту у пунктах  */
  background-color:rgb(255, 255, 255); /* Колір фону веб-сторінки */
  color: rgb(0, 0, 0) /* Колір основного тексту */
}

p {
  font-style: normal;
  color: rgb(47, 79, 79);
  font-size: 16px;
  line-height: 1;

}
h1{
  font-weight: 600;
  font-size: 26px;
  color: rgb(47, 79, 79);
}
        </style>
        <title>Рейтинг мов програмування та IT професій</title>
    </head>
    <body>
        <h1>Рейтинг мов програмування та IT-професій</h1>
        <h2>IEEE опублікував новий рейтинг мов програмування</h2>
        <p>Інститут інженерів електротехніки та електроніки IEEE Spectrum нещодавно опублікував свій рейтинг мов програмування за 2020 рік, у якому традиційно лідирує Python.</p>

        <p><b>Список трьох фіналістів:</b></p>
        <ol>
            <li>Python</li>
            <li>Java</li>
            <li>C</li>
        </ol>
        <p>Докладніше про рейтинг можна дізнатися по <a href="https://infostart.ru/journal/news/news/ieee-opublikoval-svezhiy-reyting-yazykov-programmirovaniya_1274334/">посиланню</a>.</p>

        <h2>Складено список найпопулярніших професій у сфері IT</h2>
        <p>Дослідження проведено на підставі опису понад 300 тисяч ІТ-вакансій у містах-мільйонниках, опублікованих у 2016–2018 роках.</p>

        <p><b>Список професій:</b></p>
        <ul>
            <li>Програміст</li>
            <li>Тестувальник</li>
            <li>Системний адміністратор</li>
            <li>Системний архітектор</li>
            <li>Системний аналітик</li>
        </ul>
        <p>Цей список складено на основі статті <a href="https://vplate.ru/programmist/it/">"Професії у сфері IT: поради щодо вибору"</a>.</p>
    </body>
</html>